.heading-title {
    font-family: 'Bungee';
    text-align: center;
}

.rotate-buttons-block {
    height:auto;
    background-color: #111414;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 6px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, .7);
}

.rotate-buttons-block .label-choose-rotate {
    font-family: 'Bungee';
    display: block;
    color: #f3fcff;
    text-align: center;
    margin-bottom: 4px;
    font-size: 13px;
}

.rotate-buttons-block .rotate-buttons-form {
    width:30%;
    margin:0 auto;
    text-align:center;
    background-color: #ff920a;
    border-radius: 10px;
}

canvas#glcanvas {
    border: 1px solid #66666D;
    background-color: #545469;
    width: 60%;
    margin-left: 20%;
    margin-top: 30px;
    border-radius: 10px;
    box-shadow: 6px 6px 4px rgba(0, 0, 0, .5);
}

.buttons-block {
    text-align:center;
    height:auto;
    background-color: #111414;
    margin-top: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 6px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, .7);
}

.buttons-block .run-button {
    font-family: 'Bungee';
    font-size: 10px;
    border:1px solid #000000;
    width:15%;
    background-color: #ff920a;
    border-radius: 10px;
}

.buttons-block .pause-button {
    font-family: 'Bungee';
    font-size: 10px;
    border:1px solid #000000;
    width:15%;
    background-color: #ff920a;
    border-radius: 10px;
}

.buttons-block .pages-buttons {
    margin-top: 6px;
}

.buttons-block .first-page-button {
    font-family: 'Bungee';
    font-size: 10px;
    border:1px solid #000000;
    width:15%;
    background-color: #3d79ff;
    border-radius: 10px;
}